
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\e802'; } /* '' */
.icon-menu-outline:before { content: '\e803'; } /* '' */
.icon-twitter-circled:before { content: '\e804'; } /* '' */
.icon-emo-happy:before { content: '\e805'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */